{% extends "::layoutInscrit.html.twig" %}

{% block menu %}
    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">



        <div class="menu_section">
            <h3>General</h3>
            <ul class="nav side-menu">
                <li><a><i class="fa fa-home"></i> Accueil <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu" style="display: none">
                        <li><a href="{{path('choisir_joueur')}}">Organiser Test De Dopage</a>
                        </li>
                    </ul>
                </li>
                <li>
                <li><a><i class="fa fa-clone" aria-hidden="true"></i> Resultat Test <span class="fa fa-chevron-down"></span></a>

                    <ul class="nav child_menu" style="display: none">
                        <li><a href="{{path('resultat_test')}}">Tests Effectues</a></li>
                        <li><a href="{{path('test_en_cours')}}">Tests En Attente</a></li>
                    </ul>
                </li>
            </ul>
            </li>
            </ul>
        </div>
    </div>
    <!-- /sidebar menu -->
{% endblock %}