{% extends "FTTAdminBundle::layoutAdmin.html.twig" %}



        {% block bodyAdmin %}
        <h1>Ajout d'un lien de streaming</h1> 
            <div class="col-md-8" style="margin-left: 15%;margin-right: 2%;">
             {{form(Form)}}
            </div>



        {% endblock %}
