{% extends "FTTAdminBundle::layoutAdmin.html.twig" %}



        {% block bodyAdmin %}
       <br/>      <center> <h1><u>Ajout d'un évenement</u></h1> </center> <br/>

             {{form(Form)}}
    
        {% endblock %}
