{% extends "FTTAdminBundle::layoutAdmin.html.twig" %}




        {% block bodyAdmin %}
       <br/>      <center> <h1><u> Modification d'un événement </u></h1> </center> <br/>
            {{form(Form)}}
       
            {{form_errors(Form)}}
 
        {% endblock %}
