{% trans_default_domain 'FOSUserBundle' %}

<div class="body"></div>

<div class="grad"></div>
<div class="header">
    <div>FTT<span> Mot de passe </span></div>
</div>
<div class="header1">
    <div>Fédération Tunisienne de<span>Tennis</span></div>
</div>
<div class="register" >

    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
</div>

{{ form_end(form) }}
