{% extends "FTTAdminBundle::layoutAdmin.html.twig" %}




{% block bodyAdmin %}
    <div class="col-md-8" style="margin-left: 15%;margin-right: 2%;">

        {{form(Form)}}
        {{form_errors(Form)}}
        
    </div>

{% endblock %}
