{% extends "FTTAdherentBundle::layoutAdherent.html.twig" %}


{% block body %}
    <body>
        <i class="fa fa-close fa-5x "> </i>


        <strong> Echec de rechargement!</strong>
    </body>
{% endblock %}